/* src/Components/Listagem/Listagem.css */

.listagem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Espaçamento entre os cards */
    width: 100%;
    max-width: 1200px; /* Largura máxima para o contêiner */
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px); /* Leve movimento ao passar o mouse */
}

.delete-button {
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff1a1a; /* Cor mais escura ao passar o mouse */
}
